{% extends "layout.html" %}

{% block main %}
<div class="container">
    <h1>Our patrons</h1>

<div class="row mb-3">
    <div class="col-sm m-3 m-md-5">
        <div class="counter">
            <span class="iconify" data-icon="fa-solid:coins" data-inline="false"></span>
            <h2 class="gbp">£</h2><h2 class="timer count-title count-number gbp" data-to="{{ monthlytotal }}" data-speed="1500"></h2>
            <p>per month in donations</p>
        </div>
    </div>
    <div class="col-sm m-3 m-md-5">
        <div class="counter">
            <span class="iconify person" data-icon="ri:user-heart-fill" data-inline="false"></span>
            <h2 class="timer count-title count-number gbp" data-to="{{ donors }}" data-speed="1500">{{ donors }}</h2>
            <p>total donors</p>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        {% if session.ispatron or request.args %}
            <div class="col-sm mx-2  mr-md-3 mb-5 order-md-last">
                <h2>Thank you!</h2>
                <p style="text-align: left;" class="pl-3">Thank you for being one of our {{ donors }} generous patrons. With your support we can continue our valuable work. <a href="/behindthescenes">Find out more about where your contributions go.</a></p>
            </div>
        {% else %}
            <div class="col-sm mx-2  mr-md-3 mb-5 order-md-last">
                <h2>Become a patron</h2>
                <a class="btn btn-primary" role="button" href="https://pay-sandbox.gocardless.com/AL000051MBEWF4"><strong>£2</strong>/<br>month</a>
                <a class="btn btn-primary" role="button" href="https://pay-sandbox.gocardless.com/AL000051MCATJ7"><strong>£4</strong>/<br>month</a>
                <a class="btn btn-primary" role="button" href="https://pay-sandbox.gocardless.com/AL000051MDGSWX"><strong>£8</strong>/<br>month</a>
                <a class="btn btn-primary" role="button" href="https://pay-sandbox.gocardless.com/AL000051MEYRQV"><strong>£16</strong>/<br>month</a>
            </div>
        {% endif %}
        <div class="col-sm ml-md-3 mb-5 order-md-first">
            <div class="container">
                    <h2>Patron board</h2>
                    <div class="flex-container">
                        {% for name in names %}
                            <div class="flex-item">{{ name }}</div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}