textarea {
    margin: 5px 0;
}

.card {
    padding: 20px;
    margin: 20px 0;
}

#timestamp {
    color: grey;
}

#username {
    font-weight: bold;
}

.text {
    margin: 10px 0;
}

button, #save {
    width: 80px;
    padding: 0px !important;
    padding-bottom: 3px !important;
    margin: 10px 0;
}

#save {
    margin: 0;
}

#edit-text {
    border: 1px solid #000;
}

.pagination {
    margin-bottom: 2em;
}

.follows {
    font-size: large;
    border: 1px solid lightblue;
    background-color: rgba(224, 239, 243, 0.555);
    text-align: center;
    padding: 1em;
    display: inline-block;
}

#followerCount, #followingCount {
    font-weight: bold;
}

#follow {
    margin-bottom: 25px;  
    margin-left: 10px;  
}

h1, h2 {
    margin-top: 1em;
}

.name > div {
    display: inline-block;
}

#likes {
    font-style: italic;
}