{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>

    {% if not watchlist %}
    <em>You are not watching any items.</em>
    {% else %}
    <table>
        {% for item in watchlist %}
        <tbody>
            <tr>
                <td class="img" style="text-align: right;">
                    {% if item.listing.image %}<img src="{{ item.listing.image }}" width="100px">{% endif %}
                </td>
                <td>
                    <a href="{% url 'listing' item.listing_id %}">{{ item }}</a>
                </td>
                <td>
                    £{{ item.listing.price }}
                </td>
                <td>
                    {% if item.listing.open %}
                    <a href="{% url 'listing' item.listing.id %}"><button>Bid now</button></a>
                    {% else %}
                    <em>Closed.</em>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}